* {
    margin: 0;
    
    
}
header {
    background: #023d6d;
    color: white;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    width: 100%;
    
  }

  header h1 {
      font-size:  42px;
  }

  nav {
    background: #326a97;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position:sticky;
    margin-bottom: 20px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */


  }

  nav ul li {
      list-style: none;
      display: inline-block;
      position: relative;
  }

  nav ul li a {
      color: #f3f3f3;
      text-decoration: none;
      font-size: 20px;
      padding: 8px 23px;
      
  }

  nav ul li a:hover{
      color:sandybrown;
      transition: 0.2s;
  }

  /* --------- GRID -----------*/

  .grid-container{
      margin-top: 4em;
      max-width: 1200px;
      display:grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 20px;
      grid-gap:1em;
      justify-content: center; /* usikker på om den funker egentlig? */

      /* 
      
      grid-column-gap: 
      grid-row-gap: 
    
      */

  }

  .grid-container > div {
      background-color: sandybrown;
      padding: 1em;
      text-align: center;
  }

  .grid-container > div > h2 {
      padding-bottom: 0.5em;
  }

  .grid-container > div:nth-child(odd){
      background-color: rgb(255, 213, 158);
  }


  /* hva er egt riktig å bruke på max og min width? */
   @media screen and (max-width: 768px){
        .grid-container {
            grid-template-columns: 1fr;
        }
   }